#__Question 1__:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

In [1]:
a=str(input("The mail address is:"))

print("\ngiven below is mail address:-")

print(a)

The mail address is:anibhagat@gmail.com

given below is mail address:-
anibhagat@gmail.com

In [2]:
print("Thecompany name is:aniketbhagat@gmail.com")

b= a[(a.index("@")+1):-4]
b

Thecompany name is:aniketbhagat@gmail.com

'gmail'

#__Question 2__:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically

In [24]:
a=["jhon","pranit","aniket","shivanshu","vinu"]
print("before the sort array:\n",a)

a.sort()
print("The sorted array:\n",a)

before the sort array:
 ['jhon', 'pranit', 'aniket', 'shivanshu', 'vinu']
The sorted array:
 ['aniket', 'jhon', 'pranit', 'shivanshu', 'vinu']

#__Question 3__:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [63]:
ab={"aniket","bhagat","innocent"}
print(ab)

{'bhagat', 'aniket', 'innocent'}

In [56]:
for x in ab:
     print(x)

aniket
bhagat
innocent

In [57]:
print("bhagat" in ab)

True

In [67]:
ab.update("u","cool")
print(ab)

{'l', 's', 'bhagat', 'c', 'i', 'u', 'o', 'innocent'}

In [60]:
print(len(AB))

3

In [69]:
ab.discard("aniket")
print(ab)

{'l', 's', 'bhagat', 'c', 'i', 'u', 'o', 'innocent'}

In [71]:
n={1,2,3,4}
o={"vru","dgg","cat"}
m=n.union(o)
m

{1, 2, 3, 4, 'cat', 'dgg', 'vru'}

#__Question 4__:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [50]:
l =[1,2,3,4,5,6,8,9]

for i in range(1,10):
    if i not in l:
        print(i)

7

#__Question 5__:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [6]:
l =[22,25,28,35,34,88,22,28,35]
print(l)

[22, 25, 28, 35, 34, 88, 22, 28, 35]

In [12]:
a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{40, 10, 80, 50, 20, 60, 30}